body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0px;
  /*line-height: 0;*/
  background-color: #000;
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 40px 40px;
}

br {
  display: block;
  margin: 0px 0;
  line-height: 0px;
}

video {
  width: 25vw;
  height: 25vh;
  object-fit: cover;
  overflow: hidden;
  /*box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);*/
  cursor: pointer;
}

h1 {
  font-style: normal;
  color: white;
  font-weight: 900;
  text-align: center;
  font-size: 24px;
}

p {
  font-style: normal;
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 14px;
}

.overlay {
  opacity: 1;
  background: rgb(0, 0, 0);
  position: fixed;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  top: 0px;
  left: 0px;
  z-index: 1000;
  overflow: visible;
  /*display: none;*/
}

.centered {
  position: absolute;
  font-style: italic;
  bottom: 20%;
  left: 20%;
  width: 60%;
  text-align: left;
  line-height: 22px;
  font-size: 18px;
  font-weight: 500;
  color: darkgray;
}

.centeredLoading {
  position: absolute;
  font-style: normal;
  bottom: 15px;
  text-align: center;
  left: 20%;
  width: 60%;
  font-size: 14px;
  line-height: 16px;
  color: #565656;
}

.centeredReady {
  position: absolute;
  font-style: normal;
  bottom: 15px;
  text-align: center;
  left: 20%;
  width: 60%;
  font-size: 14px;
  line-height: 16px;
  color: darkgray;
  display: none;
}


@media only screen and (max-device-width: 800px) {
  h1 {
    font-size: 8vw;
    line-height: 7vw;
    text-align: center;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
  }
  p {
    font-size: 5vw;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
  }
  .centered {
    top: 15%;
    left: 5%;
    width: 90%;
    line-height: 7vw;
    font-size: 6vw;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  .centeredLoading {
    /*bottom: 15px;*/
    left: 5%;
    width: 90%;
    font-size: 5vw;
    line-height: 5vw;
    text-align: left;
  }
  .centeredReady {
    /*bottom: 15px;*/
    left: 5%;
    width: 90%;
    font-size: 5vw;
    line-height: 5vw;
    text-align: left;
  }
  .hideMobile {
    display: none;
  }
}